@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --primary:#ce1d3c;
  --text:black;
  --secondary: #e6b555; 
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --font-man: var(--font-manrope);
  --font-bask: var(--font-baskervville);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-man), ui-sans-serif, system-ui, sans-serif;
}
