@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --primary:#b30928;
  --text:black;
  --secondary: #e6b555;
  --bg:#fdf7e4;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-bg: var(--bg);
  --font-man: var(--font-manrope);
  --font-marcellus: var(--font-marcellus);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-man), ui-sans-serif, system-ui, sans-serif;
}
